/**
 * FullCalendarのカスタマイズ用
 */

.fc-day-sat {
  background-color: #e6f0ff;
}

.fc-day-sun {
  background-color: #ffe6e6;
}

.fc-day-holiday {
  background-color: #6f96ad;
}

.fc-event-title-container {
  text-align: right;
}

.fc-event-title {
  font-size: clamp(12px, 2.5vw, 16px);
  color: red;
  letter-spacing: -1px;
}

.fc-event-title::before {
  content: "\00A5";
  display: inline-block;
  font-size: 0.9em;
}

.fc-h-event {
  background-color: transparent !important;
  border: none !important;
}
