@import "tailwindcss";

:root {
  /* width:450px => font-size:16px */
  --root-font-size: clamp(11px, 3.5vw, 16px);
}

@media screen and (min-width: 450px) {
  :root {
    /* width:768px => font-size:16px */
    --root-font-size: clamp(11px, 2.08vw, 16px);
  }
}

@media screen and (min-width: 768px) {
  :root {
    /* width:1000px = font-size:16px */
    --root-font-size: clamp(11px, 1.6vw, 16px);
  }
}

body {
  background-color: #f0f2f5;
  color: #333;
  font-family: var(--font-noto-sans-jp);
}

/* ###################################################################### */

@theme {
  --font-alphanumeric: "Helvetica Neue", "Helvetica", sans-serif;
}
